# temp directory for processing
SEPA_TEMP_DIR="/tmp"

# RustFS S3 storage
RUSTFS_USER="sepa_rustfs"
RUSTFS_PASSWORD="sepa_rustfs"
RUSTFS_BUCKET="sepa-lakehouse"
RUSTFS_REGION="us-east-1"
RUSTFS_ENDPOINT="http://localhost:9000"
RUSTFS_ACCESS_KEY="Kwn71UgAjh*S6vweReK"
RUSTFS_SECRET_KEY="!3ceZSXWfDKp#q*^y%ck"
AWS_ACCESS_KEY_ID="Kwn71UgAjh*S6vweReK"
AWS_SECRET_ACCESS_KEY="!3ceZSXWfDKp#q*^y%ck"

# Apache Polaris REST catalog
POLARIS_URI="http://localhost:8181/api/catalog"
POLARIS_REALM="default"
POLARIS_CLIENT_ID="polaris"
POLARIS_CLIENT_SECRET="polaris"

# GCP (Optional)
GCP_PROJECT="sepa-lakehouse42"
GCP_DATASET="silver"
GCP_DATASET_GOLD="gold"
GCP_BUCKET="sepa-lakehouse-silver-74dbadf7"
GCP_LOCATION="US"

# PyIceberg credentials
PYICEBERG_CATALOG__DEFAULT__S3__ACCESS_KEY_ID="Kwn71UgAjh*S6vweReK"
PYICEBERG_CATALOG__DEFAULT__S3__SECRET_ACCESS_KEY="!3ceZSXWfDKp#q*^y%ck"
